<div>
    <h1> Student Login</h1>
    <table border="2">
        <tr>
            <td>
                Id
            </td>

            <td>
                <input type="text">

            </td>
        </tr>
        <tr>
            <td>
               Student Username
            </td>

            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
             Student   Password
            </td>

            <td>
                <input type="text">
            </td>
        </tr>

        <tr>
            <td>
                <button>Submit</button>
            </td>

            <td>
                <button>Cancel</button>
            </td>
        </tr>



    </table>
</div>